.main-layout {
  display: flex;
  flex: 1;
  overflow: hidden;
  background-color: transparent;
}

.main-layout__editor {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.webview-container {
  flex: 1;
  background-color: transparent;
}